.friend_list {
  width: 425px;
  height: 450px;
  border: solid 1px rgb(211, 221, 221);
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 1em;
  padding-left: 10px;
  border-radius: 3px;
}

.statusOnline,
.statusOffline {
  display: block;
  /* width: 20px;
  height: 20px; */
  border-radius: 50%;
  color: rgb(36, 248, 8);
  margin: 0 15px 0 15px;
  size: 30px;
  font-size: 38px;
}

.statusOffline {
  color: rgb(248, 8, 8);
}

.avatar {
  border-radius: 10px;
  margin: 10px;
}

.name {
  font-size: 24px;
  font-weight: 600;
}
